<div class="my-4 todo-left">
    {{ todo | json }}
    <h4 [ngClass]="{'strike': !todo.active}">{{todo.title | titleFormate:todo.sno}}</h4>
    <p [ngClass]="{'strike': !todo.active}">{{todo.desc | titlecase}}</p>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="todo{{i}}" (click)="onCheckBoxClick(todo)" [checked]="!todo.active">
        <label class="form-check-label" for="todo{{i}}">
            <div *ngIf="todo.active === false; else elseBlock">Remove</div>
            <ng-template #elseBlock>Mark as Done</ng-template>
        </label>
    </div>
    <button class="btn btn-danger" (click)="onClick(todo)" style="margin-top: 5px;">Delete</button>
</div>